@import './variables.scss';

.header {
  position: relative;
  background-image: url("https://github.com/RavenVol/BitMedia/blob/dev/public/images/header.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 45.49vw;

  font-family: 'Montserrat', sans-serif;

  &__logo {
    position: absolute;
    top: $size24;
    left: $sizePageMargin;
    font-size: $size40;
    line-height: 3.4vw;

    color: #FFFFFF;
  }

  &__title {
    position: absolute;
    width: 40.69vw;
    height: 8.19vw;
    left: $sizePageMargin;
    top: 8.4vw;

    font-size: $size48;
    line-height: 4.1vw;

    color: #FFFFFF;

    &::before {
      content: "Brainstorming ";
      font-weight: bold;
    }
  }

  &__message {
    position: absolute;
    width: 40.28vw;
    height: 3.94vw;
    left: $sizePageMargin;
    top: 18.26vw;

    font-size: $size20;
    line-height: 1.97vw;

    color: #FFFFFF;
  }

  &__button {
    position: absolute;
    left: $sizePageMargin;
    top: 24.375vw;
    width: 10.69vw;
    height: 3.89vw;

    font-size: $size16;
    color: $colorMainBlue;

    background: #FFFFFF;
    border-radius: $size8;
    transition: 300ms ease;

    &:hover {
      font-size: $size24;
      color: $colorMainDarkBlue;
    }
  }

  &__phone {
    position: absolute;
    top: 5vw;
    right: 16.1vw;

    width: 19.185vw;
    height: 38.8vw;
  }
}


