@import './variables.scss';

.footer {
  position: relative;
  width: 100%;
  height: 12.74vw;

  margin-top: $size48;

  background-image: url("https://github.com/RavenVol/BitMedia/blob/dev/public/images/footer.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Montserrat', sans-serif;

  &__wrap {
    width: $sizePage;
    position: absolute;
    bottom: 2.12vw;
    left: $sizePageMargin;

    color: #FFFFFF;

    display: flex;
    justify-content: space-between;
  }

  &__logo {
    font-size: $size32;
    line-height: 2.71vw;
  }

  &__copyName, &__copyDate {
    font-size: $size16;
    line-height: 2.71vw;
  }

  &__subscribe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -100%);
  }
}

