$colorMainBlue: #3A80BA;
$colorMainDarkBlue: #255D8B;
$colorTextBlack: #1A1A1A;
$colorFooterBlue: #1C3B55;

$size8: 0.555vw;
$size16: 1.11vw;
$size20: 1.389vw;
$size24: 1.667vw;
$size32: 2.22vw;
$size40: 2.778vw;
$size48: 3.33vw;

$sizePage: 81.94vw;
$sizePageMargin: 9.03vw;


